ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.App {
  background: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
}

.container {
  width: 400px;
  min-height: 500px;
  background-color: #fff;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 2em;
  background: none;
  border: 1px solid;
  transition: 250ms ease-out;
}

.btn:hover {
  color: #fff;
  background: #e74c3c;
}

.btn:focus {
  /* color: #fff; */
  /* outline: none; */
}
.app-header {
  padding: 10px;
  background-color: blueviolet;
}

.app-body {
  flex-grow: 1;
  overflow-x: hidden;
}
.todo-item {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-form {
  display: flex;
}

input[type="text"] {
  height: 40px;
  font-size: 15px;
  border: 1px solid #dce4ec;
  width: 100%;
  margin-right: 15px;
  border-radius: 10px;
  padding: 5px 10px;
  transition: border 250ms ease-out;
}

input:hover {
  border: 1px solid;
  outline: none;
}

label {
  margin-left: 10px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
